----------------------------------------
----------------- Setup ----------------
----------------------------------------

1. Download all Python Dependencies
- pip install ollama TTS requests ffmpeg-python

2. Download the model (llama3)
- ollama pull llama3

3. Setup the following env variables
export OLLAMA_HOST="127.0.0.1:5000"
export OLLAMA_MODELS="$HOME/.ollama/models"

--------- Running The Program ----------

4. Run the API in a terminal with
- ollama serve

5. Run the program with python3 main.py

6. Listen to the voice recording with
- aplay output.wav
